<form [formGroup]="authForm" (ngSubmit)="saveForm()">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" formControlName="username">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" formControlName="password">
    <button type="submit">
        <span *ngIf="!registerMode">Login</span>
        <span *ngIf="registerMode">Register</span>
    </button>
</form>
<br>

<span *ngIf="!registerMode" (click)="registerMode=true">Don't have an account? Register Here</span>
<span *ngIf="registerMode" (click)="registerMode=false">Have have an account? Login Here</span>
