.app {
    background-color: rgb(34, 21, 21);
    color: aquamarine;
    min-height: calc(100vh - 40px);
    padding: 20px;
    margin: 0;
    
}

h1 {
    text-align: center;
    color: orange;
    font-size: 3em;
}
h1 fa-icon {
    color: white;
    display: inline-block;
    transform: rotate(30deg);
}