
<div *ngIf="currentMovie">
    <h3>Movie-details </h3>
   <h4>Title: {{ currentMovie.title }}</h4> 
   <p> description: {{ currentMovie.description }}</p> 
   Rating Stats: {{ currentMovie.no_of_rating }}   ( {{ currentMovie.avg_rating }})
   <fa-icon [icon]="['fas', 'star']" [ngClass]="{'orange': currentMovie.avg_rating>0}"></fa-icon>  
   <fa-icon [icon]="['fas', 'star']" [ngClass]="{'orange': currentMovie.avg_rating>1}"></fa-icon>
   <fa-icon [icon]="['fas', 'star']" [ngClass]="{'orange': currentMovie.avg_rating>2}"></fa-icon>  
   <fa-icon [icon]="['fas', 'star']" [ngClass]="{'orange': currentMovie.avg_rating>3}"></fa-icon>
   <fa-icon [icon]="['fas', 'star']" [ngClass]="{'orange': currentMovie.avg_rating>4}"></fa-icon>
</div>
