/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

button {
    color: gray;
    background-color: white;
    padding: .5em 1em;
    border-radius: .5em;
    font-weight: bold;
    font-size: 0.75em;
}

button:disabled{
    cursor: not-allowed;
    color: white;
    background-color: gray;
    padding: .5em 1em;
    border-radius: .5em;
    font-weight: bold;
    font-size: 0.75em;
}

input, textarea {
    width: 100%;
    margin: 0.8em 0em;
    font-size: 1em;
    padding: 0.5em;

}